<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.SpecialSqlMapper">
    <!--List<User> selectUserByName(@Param("nameLike") String nameLike);-->
    <select id="selectUserByName" resultType="user">
        select * from t_user where username like #{nameLike}
    </select>

</mapper>